<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">p6_c00445623_c00441253</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

<div class="nav-item px-3">
 <NavLink class="nav-link" href="listcontacts">
 <span class="oi oi-list-rich" aria-hidden="true"></span>
List Contacts
 </NavLink>
</div>
<div class="nav-item px-3">
 <NavLink class="nav-link" href="addcontact">
 <span class="oi oi-list-rich" aria-hidden="true"></span>
Add Contact
 </NavLink>
</div>
<div class="nav-item px-3">
 <NavLink class="nav-link" href="listwords">
 <span class="oi oi-list-rich" aria-hidden="true"></span>
List Words
 </NavLink>
</div>
<div class="nav-item px-3">
 <NavLink class="nav-link" href="addword">
 <span class="oi oi-list-rich" aria-hidden="true"></span>
Add Word
 </NavLink>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
